*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  font: inherit;
  color: inherit;
  transition: 0.5s;
}

:root {
  font-size: 5vw;
}

/* overarching elements  */

body {
  height: 100vh;
  color: #222;
  background-color: #222;
}

.container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 1fr 7fr 1fr;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

/* mainpage displayed elements  */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Pacifico;
  font-size: 2.8rem;
  height: 100vh;
  scroll-snap-align: center;
}

header h1 {
  background-color: mediumspringgreen;
  color: #222;
  text-align: center;
  width: 100%;
  padding: 5% 0;
  margin-bottom: 30px;
}

header img {
  width: 3rem;
  opacity: 0.85;
  background-color: #00fa9a;
  padding: 10px;
  border-radius: 50%;
}

/* center / links */

main {
  display: grid;
  grid-template-rows: 1fr;
  scroll-snap-align: center;
  height: 100vh;
  scroll-snap-type: y;
  overflow-y: scroll;
}

main .list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 70%;
  margin: 10% auto;
  padding: 5%;
  background-color: mediumspringgreen;
  border-radius: 10px;
  scroll-snap-align: center;
}

main .list * {
  font-family: "Oleo Script";
  font-size: 1.1rem;
  padding: 5px 20px;
  border-radius: 10px;
  text-decoration: none;
}

main .list *:hover {
  color: mediumspringgreen;
  background-color: #222;
}

main #list-kurdish * {
  font-family: UniQAIDAR_POSTER;
  text-align: right;
}

/* fonts smaller on wide screens */

@media (orientation: landscape) {
  :root {
    font-size: 2vw;
  }

  main {
    grid-template-columns: 1fr 1fr;
  }
}

/* bg animations */

.bg {
  animation: slide 9s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #047047 50%, #267054 50%);
  opacity: 0.5;
  position: fixed;
  left: -50%;
  right: -50%;
  bottom: 0;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 9s;
}

.bg3 {
  animation-duration: 9s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
