*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  font: inherit;
  color: inherit;
  transition: 0.5s;
}

/* elements displayed */

body {
  color: #222;
}

.menu-box {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
}

.menu-box * {
  overflow: hidden;
  margin: 2%;
  width: 100%;
  border-radius: 30px;
  border: solid 5px mediumspringgreen;
}

/* bg animations */

.bg {
  animation: slide 9s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #047047 50%, #267054 50%);
  opacity: 0.5;
  position: fixed;
  left: -50%;
  right: -50%;
  bottom: 0;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 9s;
}

.bg3 {
  animation-duration: 9s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
